*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa{
    font-size: 15px;
}

.catt{
    font-size: 40px;
    /* margin-bottom: -70px; */
    color: #feb326;
}

body{
    margin-left: 25px;
    margin-right: 25px;
        height: 100%;
        background-color: gainsboro !important;
        font-family: "Roboto", sans-serif;
    
}


.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7F58AF;
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.login-form{
    background-color: #f2f2f2 !important;
    width: 380px;
    height: 430px;
    margin-top: 110px;
}

.card-title{
    font-weight: 700;
    padding-left: 5px;
}

.login-btn{
    background: #7F58AF !important;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: white !important;
    padding: 8px; 
    transform: translateY(10px);
    width: 100%;
}

.daftar-btn{
    background: white !important;
    border: black;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    color: black !important;
    padding: 8px; 
    border: black 2px solid;
    /* transform: translateY(10px); */
    width: 100%;
}

.lupa-password{
    text-align: center;
    padding-top: 25px;
    color: black !important;
}

.a{
    text-decoration: none;
}

.lupa-password a{
    color: black !important;
    text-decoration: none;
}

.fa{
    font-size: 15px;
}


/* Home Page */
.container-home{
    height: 100%;
    color: #7F58AF;
}

.navbar{
    height: 60px;
    background-color: #7F58AF !important;
    color: black !important;
    text-align: center;
}

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 23px !important;
}

.brand-cat{
    font-size: 35px;
    color: #feb326;
    padding-right: 20px;
}

.search-nav{
    margin-top: -40px;
}

.navbar-nav{
    font-size: 18px;
}

.nav-item{
    margin: 10px 20px;
}

/* Landing Page */
#home{
    background: url(cute-cat-background-for-desktop-wallpaper-preview.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    /* opacity: 0.5; */
}
#home:before{
    opacity: 0.5;
}

.navigasi{
    text-align: right;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h3{
    font-size: 200%;
    font-weight: 700;
    color: white !important;
    padding: 100px 0px 30px 0px;
    
}

.card-lp-outer{
    background-color: #64C5EB !important;
}

.card-lp{
    margin: 10px 0px;
    height: 80%;
}

.card-title-lp{
    font-size: 17px;
    font-weight: 700;
}

.card-text-lp{
    font-size: 14px;
    font-weight: 600;
}
.landing-text p{
    font-size: 110%;
    font-weight: 400;
    color: white !important;
    padding: 30px;
    margin: 0px 190px;
}

.landing-text a{
    background: #7F58AF;
    border: #7F58AF solid 3px;
    border-radius: 10px;
    padding: 0px 50px;
    margin-bottom: 100px;
}

.landing-text a:hover{
    background: #7F58AF;
    border: #7F58AF solid 3px;
}
.content{
    margin: 50px 50px;
}

.container-home-page{
    margin: 50px 50px;
    
    background: #64C5EB !important;
    width: 80%;
    float: left;
    align-items: center;
    justify-content: center;
   
}



/* Footer */
footer{
    background-color: #7F58AF !important;
    color: white !important;
}

.logout-btn{
    background: #7F58AF !important;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: white !important;
    border: white 3px solid;
    border-radius: 10px;
    padding: 8px; 
    transform: translateY(10px);
    width: 100%;
}

/* Copyright */
.copyright{
    background-color: #463062 !important;
    color: white !important;
    font-family: 'Pacifico';
    font-size: 23px !important;
}

/*Keranjang*/

.content h3{
    text-decoration: underline;
    margin-left: 10px !important;
}

/*Posting*/
.posting{
    background-color: #64C5EB !important;
    height: 600px;
    width: 1000px;
    margin-left: 200px;
    
}

.form-row{
    margin-left: 70px;
}
.content h3{
    margin-left: 200px;
}
.posting label{
    color: black;
}
h3{
    margin-left: 20px;
    margin-top: 100px;
}

.submit{
    background: #7F58AF;
    border: #7F58AF solid 3px;
    border-radius: 10px;
    padding: 0px 50px;
    margin-bottom: 100px;
}

.button-submit input{
    
    color: white !important;
    margin-top: 20px;
}

/*Profil*/

.blue-bg{
    background-color: #64C5EB !important;
    height: 150px;
    margin-bottom: -100px;
}

.profile-header{
    margin-left: 150px;
    margin-bottom: 20px;
}

.profil-user{
    background-color: #64C5EB !important;
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 100px 0px 70px 0px;
}

.profil-user i{
    font-size: 100px;
    color: #feb326 !important;
    margin-top: 0px;
    margin-left: 27px;
}

.user-profpic{
    width: 120px;
    height: 120px;
    margin: 20px 0px;
}

.card-edit-user{
    height: 120;
}

.card-edit-user-left{
    margin-left: 20px;
    height: 500px;
    margin-bottom: 70px;
}

.card-edit-user-right{
    margin-right: 50px;
    height: 500px;
    margin-bottom: 70px;

}

.card-text-edit-user{
    margin-bottom: 20px;
}

.side-left-btn{
    border-radius: 15px;
    margin: 10px 30px;
    background: #7F58AF !important;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white !important;
    padding: 10px; 
    width: 80%;
}

.input-edit{
    font-size: 15px;
    font-weight: 500;
}

.edit-user-btn{
    background: #7F58AF !important;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: white !important;
    padding: 5px; 
    transform: translateX(75%);
    width: 40%;
    margin-top: 20px;
}

.nama{
    text-align: center;
    margin-top: 0px;
}

.kucingku{
    margin-top: 50px
}

.side-right-btn{
    border-radius: 15px;
    margin: 10px 30px;
    color: #7F58AF !important;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: #fff !important;
    padding: 10px; 
    width: 80%;
    border:#7F58AF 3px solid;
    border-radius: 10px;
}

.box{
    width: 300px !important;
    height: 35px !important;
  border: 2px solid #7F58AF ;
  margin-left: 100px;
}

h6{
    margin-left: 100px;
}



.content-profil{
    margin-left: 100px;
    margin-bottom: 100px;
}

.content-profil h3{
    text-decoration: underline;
}

.profil{
    margin-top: 50px;
}

.profil1{
    margin-bottom: 100px;
}

.row h6{
    margin-left: 50px;
}



/*-------single produk detail-------*/
.single-produk{
    background:#ffffff;
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.single-produk .col-4 img{
    padding: 0;
    margin-top: 0;
}

hr{
    color:#7F58AF 2px !important ;
}

.single-produk h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-produk select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.kucing{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(91, 192, 222, 0.35); 
}

.kucing h5,h2{
    margin-left: 25px;
}



.kucing h5{

    font-size: 16px;
}

.rekomen{
    margin-top: 100px;
}


h5{
    color: #555;
    font-weight: normal;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.col-8 p{
         margin-top: 50px;
        border-radius: 15px;
        background-color:#7F58AF ;
        padding-left: 8px;
        color: #ffffff;
     
}

.col-4 img{
    margin-left: 20px;
    margin-bottom:200px;
}



h5{
    color: #555;
    font-weight: normal;
}







.table-responsive{
    margin-left: 15px;
    margin-bottom: 100px;
}









@media only screen and (max-width : 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-produk .row{
        text-align: left;
    }
    .single-produk .col-2{
        padding: 20px 0;
    }
    .single-produk h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}
